<!-- 연혁 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJU LIKEILION :: HISTORY</title>
    <link rel="stylesheet" type="text/css" href="/main_management/static/css/history.css">
</head>
<body>
    <header>
    
    </header>
    
    <div>
        <p class="title"> HISTORY </p>
    </div>

    <div class = historyimg>
        <img src="/main_management/static/images/history.png" > 
    </div>




    
    <footer></footer>   
</body>
</html>