<!-- main 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJU LIKEILION</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="/main_management/static/css/main.css">

    <!-- 폰트 -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        
    </header>
    
    <div class="first">
        <div class="first-title">
            <h1>LIKELION
            <br>at MJU <h1>
        </div>
        <button>APPLY</button>    
    </div>
<!-- ======================================= -->
    <div class="int">
        <center>
            <img src="/main_management/static/images/logo/hackyourlife.png">
            <div>
                <p>'멋쟁이사자처럼'은 전국 웹 프로그래밍 연합 동아리입니다.</p>
                <p>프로그래밍 교육을 통해 코딩을 모르는 비전공자들도</p>
                <p>자신만의 웹서비스를 구현할 수 있도록 합니다.</p>
            </div>
        </center>

    </div>
<!-- ======================================= -->

    <div class="num">
        <div class="num-title">
        <h1>멋쟁이사자처럼 X 명지대(서울)은</h1>
        </div>
        <div>
            <p>프로그래밍에 대한 열정과 <br>자신만의 아이디어를 가지고 활동한지</p>
            <h3>3</h3>
            <p>년째</p>
        </div>
        <div>
            <h3>5</h3>
            <p>명의 9기 운영진</p>
        </div>
        <div>
            <p>2021 정규 세션,<br>매주 일요일</p>
            <h3>12</h3>
            <p>시부터</p>
        </div>
        <div>
            <h3>14</h3>
            <p>시 까지</p>
        </div>
    </div>
<!-- ======================================= -->
    <div class="curri">
        <div class ="curri-title">
        <h1>CURRICULUM</h1>
        </div>
            <div class="container">
                <img src="/main_management/static/images/logo/html.png">
            </div>
            <div class="container">
                <img src="/main_management/static/images/logo/css.png">
            </div>
            <div class="container">
                <img src="/main_management/static/images/logo/python.png">
            </div>
            <div class="container">
                <img src="/main_management/static/images/logo/django.png">
            </div>
    </div>
    <footer></footer>
</body>
</html>