html {
    font-size: .75rem;
}

body {
    margin: 0;
}

.intro-detail {
    font-size: 5rem;
    background-color: #192D66;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    color: white;
}

.title {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.content {
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2rem;
}

.content > * {
    display: flex;
    align-items: center;
    letter-spacing: .1rem;
}

/*숫자 적용*/
.num {
    box-sizing: border-box;
    font-size: 130%;
    margin: auto 1rem;
    font-weight: 900;
    padding-top: .25ex;
}

/*글씨 적용*/
.txt {
    font-size: 35%;
    font-weight: normal;

}

.content > div:nth-child(2n + 1) > span:first-child {
    text-align: right;
}

.period {
    grid-column: 1 / 12;
}

.people {
    grid-column: 7 / 13;
}

.session-start {
    grid-column: 3 / 11;
}

.session-end {
    grid-column: 8 / 13;
}
