* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.historyimg{
    text-align: left;
    letter-spacing: 3px;
    font-size: 40px;
}
.title{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    border: rgb(240, 147, 34) solid;
    border-width: 0 0 6px 0;
    display: inline;
}

img{
    width: 750px;
    margin-top: 30px;
    margin-bottom: 50px;
}